/*メインビジュアル*/
.main-visual{
	position: relative;
}

div.main-copy{
	position: absolute;
	color: white;
	background: rgba(0,0,0,0.4);
	text-align: center;
	right:20%;
	top: 35%;
	padding: 20px 10px;
}

.main-copy h1{
	font-size: 65px;
}

.main-copy h3{
	font-size: 25px;
	margin-top: 20px;
}

.main-visual img{
	width: 100%;
	min-width: 1024px;
	display: block;
	margin: 0 auto;
}

/*求人、コラム一覧*/

.main-wrapper{
	width:100%;
	overflow: hidden;
	border-bottom: 1px solid black;
}

.main{
	width:1124px;
	margin: 0 auto;
    padding-top: 20px;
	overflow: hidden;
}

/*募集中の求人*/
.active-jobs{
	width: 700px;
	border: 2px solid #CDCDCD;
	float: left;
	overflow: hidden;
	margin-bottom: 70px;
}

.active-jobs div:last-child{
	margin-bottom: 20px;
}

.aj-copy img{
	padding-top: 5px;
}

.aj-copy h2{
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
	padding: 10px 0;
}

.active-job{
	width: 300px;
	border: 2px solid #CDCDCD;
	float: left;
	margin-left: 25px;
	margin-top: 20px;
}

.active-job:nth-child(odd){
	float: right;
	margin-right: 25px;
}

.active-job img{
	width: 300px;
	height: 150px;
}

.title{
}

.title div{
	margin: 0 auto;
	width: 290px;
	padding: 5px 5px;
	font-size: 20px;
}

.data{
	padding: 5px 5px;
}

.data img{
	height: 16px;
	width: 20px;
	margin-right: 5px;
}

.data p{
	font-size: 13px;
	color: #CDCDCD;
	vertical-align: middle;
}

.content{
	padding: 5px 5px;
	font-size: 11px;
	line-height: 15px;
}

.side-menu{
	width: 400px;
	height: 100%;
	float: right;
	margin-bottom: 70px;
}

.columns{
	border: 2px solid #CDCDCD;
	margin-bottom: 20px;
}

.columns div:last-child{
	border-bottom:none; 
}

.column{
	height: 80px;
	border-bottom: 2px solid #CDCDCD;
	padding: 10px;
}

.column-copy h2{
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
	padding: 22px 0;
	border-bottom: 2px solid #CDCDCD;
}

.column img{
	height: 80px;
	width: 80px;
	margin-right: 10px;
	float: left;
}

.column-content{
	height: 100%;
}

.column-title{
	height: 65%;
	font-size: 20px;
}

.column-company{
	font-size: 13px;
    color: #CDCDCD;
}

.end-jobs{
	border: 2px solid #CDCDCD;
}

.end-jobs div:last-child{
	border-bottom:none; 
}

.end-job{
	height: 80px;
	border-bottom: 2px solid #CDCDCD;
	padding: 10px;
}

.ej-copy h2{
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
	padding: 22px 0;
	border-bottom: 2px solid #CDCDCD;
}

.end-job img{
	height: 80px;
	width: 80px;
	margin-right: 10px;
	float: left;
}
